<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="config">

    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}">

    <script   th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script   th:src="@{/js/security/jsbn.js}"></script>
    <script   th:src="@{/js/security/rsa.js}"></script>
    <script   th:src="@{/js/security/prng4.js}"></script>
    <script   th:src="@{/js/security/rng.js}"></script>
    <script   th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.min.js}"></script>
<!--    <script   th:src="@{https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js}"></script>-->
<!--    <script   th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js}" integrity="sha384-pzjw5f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kI" crossorigin="anonymous"></script>-->


    <!-- content 에서 사용하는 css 를 config 파일에 대체 한다 -->
    <th:block layout:fragment="css">
<!--        <style>-->
<!--            @media (max-width: 768px) {-->
<!--                body {-->
<!--                    font-size: 16px; /* 텍스트 크기 축소 */-->
<!--                }-->
<!--                .navbar {-->
<!--                    display: none; /* 네비게이션을 숨기고 햄버거 메뉴로 변경 */-->
<!--                    width: 50px;-->
<!--                }-->
<!--                .hamburger-menu {-->
<!--                    display: block; /* 햄버거 메뉴 표시 */-->
<!--                }-->
<!--            }
        </style>-->

    </th:block>

</th:block>

</body>
</html>